<!-- prettier-ignore -->
<div class="page-title">
  <h4>
    <a routerLink="/categories">Categories</a>
    <i class="material-icons">keyboard_arrow_right</i> 
    {{isNewCategory? 'Add': 'Edit'}} Category
  </h4>
  <span>
    <button 
      *ngIf="!isNewCategory"
      class="btn btn-small red" 
      (click)="deleteCategory()"
    >
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>
<!-- prettier-ignore -->
<div class="row">
  <div class="col s12 l6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-field">
        <input 
          formControlName="name" 
          id="name" 
          type="text"
          [ngClass]="{'invalid': form.get('name').invalid&&form.get('name').touched}"
        >
        <label for="name">Name</label>
        <span 
          class="helper-text red-text"
          *ngIf="form.get('name').invalid&&form.get('name').touched"
        >
        <span *ngIf="form.get('name').errors['required']"> Name is required</span></span>
      </div>

      <div>
        <input 
          type="file"
          class="dn"
          (change)="uploadFile($event)"
          #input
        >
        <button 
          type="button"
          [disabled]="form.disabled || form.disabled"
          class="waves-effect waves-light btn orange lighten-2 mb2"
          (click)="triggerClick()"
        >
          <i class="material-icons left">backup</i> Download Image
        </button>
      </div>

      <div>
        <button 
          type="submit" 
          class="waves-effect waves-light btn"
          [disabled]="form.invalid || form.disabled"
        >Save</button>
      </div>
    </form>
  </div>

  <div class="col s12 l4 center"><img class="responsive-img" style="height: 200px" [src]="imagePreview" *ngIf="imagePreview" /></div>
</div>
<app-positions-form *ngIf="category?._id" [categoryId]="category._id"></app-positions-form>
