<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button class="waves-effect waves-light btn grey darken-1 btn-small" (click)="onAddPosition()">
        Add Position
      </button>
    </div>

    <div *ngIf="!loading; else: loader">
      <div class="collection" *ngIf="positions.length !== 0; else: empty">
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="onSelectPosition(position)"
        >
          <span>
            {{ position.name }} <strong>{{ position.cost }}</strong>
          </span>
          <span> <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i> </span>
        </a>
      </div>
      <ng-template #empty> <div class="center">Category doesn't have positions.</div> </ng-template>
    </div>
    <ng-template #loader> <app-preloader></app-preloader> </ng-template>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Add Position</h4>
      <div class="input-field">
        <input
          formControlName="name"
          id="pos-name"
          type="text"
          [ngClass]="{ invalid: form.get('name').invalid && form.get('name').touched }"
        />
        <label for="pos-name">Name</label>
        <span class="helper-text red-text" *ngIf="form.get('name').invalid && form.get('name').touched">
          Name is required.
        </span>
      </div>
      <div class="input-field">
        <input
          formControlName="cost"
          id="pos-cost"
          type="number"
          min="1"
          [ngClass]="{ invalid: form.get('cost').invalid && form.get('cost').touched }"
        />
        <label for="pos-cost">Price</label>
        <span class="helper-text red-text" *ngIf="form.get('cost').invalid && form.get('cost').touched">
          Price is required.
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="onCancel()"
        class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled"
      >
        Cancel
      </button>
      <button type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled">
        Save
      </button>
    </div>
  </div>
</form>
